{
  "params": {
    "FunctionName": "<YOUR_LAMBDA_FUNCTION",
    "Description": "<YOUR_LAMBDA_FUNCTION_DESCRIPTION>",
    "Role": "<YOUR_ROLE_ARN>",
    "Timeout": 5
  },
  "options": {
    "region": "<YOUR_AWS_REGION>"
  }
}
